<a href="https://colab.research.google.com/github/jamal-faisal/EDA_Hotel/blob/main/EDA_Hotel_Booking.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Project Name**    -  **Hotel Booking Analysis**

##### **Project Type**    - EDA
##### **Contribution**    - Individual
##### **Team Member 1**    - Faisal Jamal

#**Problem Statement**

#**Let's Begin**

Import Libraries

In [17]:
# Import Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

### Dataset Loading

In [18]:
# Mount Drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [19]:
# Load Dataset
path = "/content/drive/MyDrive/Colab Notebooks/Capstone Project/EDA/Copy of Hotel Bookings.csv"
df = pd.read_csv(path)

### Dataset First View

In [20]:
df.head()         # Dataset First View

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

### Dataset Rows & Columns count

In [21]:
df.shape          # Dataset Rows & Columns

(119390, 32)

### Dataset Information

In [22]:
df.info()         # Dataset Info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

In [23]:
df_hotel = df.copy()          #Creatind Copy of original dataframe

#### Duplicate Values

In [24]:
print(len(df_hotel[df_hotel.duplicated()]))        # Dataset Duplicate Value Count

df_hotel.drop_duplicates(inplace = True)      #Deletind duplicate values

31994

#### Missing Values/Null Values

In [25]:
print(df_hotel.isnull().sum())        # Missing Values/Null Values Count

hotel                                 0
is_canceled                           0
lead_time                             0
arrival_date_year                     0
arrival_date_month                    0
arrival_date_week_number              0
arrival_date_day_of_month             0
stays_in_weekend_nights               0
stays_in_week_nights                  0
adults                                0
children                              4
babies                                0
meal                                  0
country                             452
market_segment                        0
distribution_channel                  0
is_repeated_guest                     0
previous_cancellations                0
previous_bookings_not_canceled        0
reserved_room_type                    0
assigned_room_type                    0
booking_changes                       0
deposit_type                          0
agent                             12193
company                           82137
days_in_waiting_list                  0
customer_type                         0
adr                                   0
required_car_parking_spaces           0
total_of_special_requests             0
reservation_status                    0
reservation_status_date               0
dtype: int64

### What did you know about your dataset?

## ***2. Understanding Your Variables***

In [26]:
# Dataset Columns
df_hotel.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [27]:
# Dataset Describe
df_hotel.describe(include='all')

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
count,87396,87396.000000,87396.000000,87396.000000,87396,87396.000000,87396.000000,87396.000000,87396.000000,87396.000000,...,87396,75203.000000,5259.000000,87396.000000,87396,87396.000000,87396.000000,87396.000000,87396,87396
unique,2,NaN,NaN,NaN,12,NaN,NaN,NaN,NaN,NaN,...,3,NaN,NaN,NaN,4,NaN,NaN,NaN,3,926
top,City Hotel,NaN,NaN,NaN,August,NaN,NaN,NaN,NaN,NaN,...,No Deposit,NaN,NaN,NaN,Transient,NaN,NaN,NaN,Check-Out,2016-02-14
freq,53428,NaN,NaN,NaN,11257,NaN,NaN,NaN,NaN,NaN,...,86251,NaN,NaN,NaN,71986,NaN,NaN,NaN,63371,211
mean,NaN,0.274898,79.891368,2016.210296,NaN,26.838334,15.815541,1.005263,2.625395,1.875795,...,NaN,94.138306,183.081384,0.749565,NaN,106.337246,0.084226,0.698567,NaN,NaN
std,NaN,0.446466,86.052325,0.686102,NaN,13.674572,8.835146,1.031921,2.053584,0.626500,...,NaN,113.188172,130.557608,10.015731,NaN,55.013953,0.281533,0.831946,NaN,NaN
min,NaN,0.000000,0.000000,2015.000000,NaN,1.000000,1.000000,0.000000,0.000000,0.000000,...,NaN,1.000000,6.000000,0.000000,NaN,-6.380000,0.000000,0.000000,NaN,NaN
25%,NaN,0.000000,11.000000,2016.000000,NaN,16.000000,8.000000,0.000000,1.000000,2.000000,...,NaN,9.000000,47.000000,0.000000,NaN,72.000000,0.000000,0.000000,NaN,NaN
50%,NaN,0.000000,49.000000,2016.000000,NaN,27.000000,16.000000,1.000000,2.000000,2.000000,...,NaN,14.000000,169.000000,0.000000,NaN,98.100000,0.000000,0.000000,NaN,NaN
75%,NaN,1.000000,125.000000,2017.000000,NaN,37.000000,23.000000,2.000000,4.000000,2.000000,...,NaN,240.000000,263.000000,0.000000,NaN,134.000000,0.000000,1.000000,NaN,NaN
max,NaN,1.000000,737.000000,2017.000000,NaN,53.000000,31.000000,19.000000,50.000000,55.000000,...,NaN,535.000000,543.000000,391.000000,NaN,5400.000000,8.000000,5.000000,NaN,NaN

### Variables Description

### Check Unique Values for each variable.

In [28]:
for i in df.columns.tolist():
  print("No. of unique values in ",i,"is",df[i].nunique(),".")

No. of unique values in  hotel is 2 .
No. of unique values in  is_canceled is 2 .
No. of unique values in  lead_time is 479 .
No. of unique values in  arrival_date_year is 3 .
No. of unique values in  arrival_date_month is 12 .
No. of unique values in  arrival_date_week_number is 53 .
No. of unique values in  arrival_date_day_of_month is 31 .
No. of unique values in  stays_in_weekend_nights is 17 .
No. of unique values in  stays_in_week_nights is 35 .
No. of unique values in  adults is 14 .
No. of unique values in  children is 5 .
No. of unique values in  babies is 5 .
No. of unique values in  meal is 5 .
No. of unique values in  country is 177 .
No. of unique values in  market_segment is 8 .
No. of unique values in  distribution_channel is 5 .
No. of unique values in  is_repeated_guest is 2 .
No. of unique values in  previous_cancellations is 15 .
No. of unique values in  previous_bookings_not_canceled is 73 .
No. of unique values in  reserved_room_type is 10 .
No. of unique values in  assigned_room_type is 12 .
No. of unique values in  booking_changes is 21 .
No. of unique values in  deposit_type is 3 .
No. of unique values in  agent is 333 .
No. of unique values in  company is 352 .
No. of unique values in  days_in_waiting_list is 128 .
No. of unique values in  customer_type is 4 .
No. of unique values in  adr is 8879 .
No. of unique values in  required_car_parking_spaces is 5 .
No. of unique values in  total_of_special_requests is 6 .
No. of unique values in  reservation_status is 3 .
No. of unique values in  reservation_status_date is 926 .

In [29]:
# Check Unique Values in relevent variable.
lst_of_col = ['hotel', 'arrival_date_year','meal','market_segment', 'distribution_channel','reserved_room_type',
              'assigned_room_type', 'deposit_type', 'customer_type','reservation_status']
for i in lst_of_col:
  print("No. of unique values in ",i,"are",df_hotel[i].unique(),".")

No. of unique values in  hotel are ['Resort Hotel' 'City Hotel'] .
No. of unique values in  arrival_date_year are [2015 2016 2017] .
No. of unique values in  meal are ['BB' 'FB' 'HB' 'SC' 'Undefined'] .
No. of unique values in  market_segment are ['Direct' 'Corporate' 'Online TA' 'Offline TA/TO' 'Complementary' 'Groups'
 'Undefined' 'Aviation'] .
No. of unique values in  distribution_channel are ['Direct' 'Corporate' 'TA/TO' 'Undefined' 'GDS'] .
No. of unique values in  reserved_room_type are ['C' 'A' 'D' 'E' 'G' 'F' 'H' 'L' 'P' 'B'] .
No. of unique values in  assigned_room_type are ['C' 'A' 'D' 'E' 'G' 'F' 'I' 'B' 'H' 'P' 'L' 'K'] .
No. of unique values in  deposit_type are ['No Deposit' 'Refundable' 'Non Refund'] .
No. of unique values in  customer_type are ['Transient' 'Contract' 'Transient-Party' 'Group'] .
No. of unique values in  reservation_status are ['Check-Out' 'Canceled' 'No-Show'] .

##**Missing Values Optimisation**

In [30]:
df_hotel.isnull().sum().sort_values(ascending = False)

company                           82137
agent                             12193
country                             452
children                              4
reserved_room_type                    0
assigned_room_type                    0
booking_changes                       0
deposit_type                          0
hotel                                 0
previous_cancellations                0
days_in_waiting_list                  0
customer_type                         0
adr                                   0
required_car_parking_spaces           0
total_of_special_requests             0
reservation_status                    0
previous_bookings_not_canceled        0
is_repeated_guest                     0
is_canceled                           0
distribution_channel                  0
market_segment                        0
meal                                  0
babies                                0
adults                                0
stays_in_week_nights                  0
stays_in_weekend_nights               0
arrival_date_day_of_month             0
arrival_date_week_number              0
arrival_date_month                    0
arrival_date_year                     0
lead_time                             0
reservation_status_date               0
dtype: int64

In [31]:
# Removing rows with coloumn childern null as only rows
df_hotel.dropna(axis = 0, subset = ['children'], inplace = True)

# dropping the colum Company as less than 10% of it has not null value and little to no significance in insights
df_hotel.drop('company', axis = 1, inplace = True)

# Filling the null values of country as others
df_hotel['country'].fillna('others', inplace = True)

# Filling null values of agents as 0 as agent in integer
df_hotel['agent'].fillna(0, inplace = True)

In [32]:
# Checking that their is no columns with null value
df_hotel.isnull().sum().sort_values(ascending = False)

hotel                             0
is_repeated_guest                 0
reservation_status                0
total_of_special_requests         0
required_car_parking_spaces       0
adr                               0
customer_type                     0
days_in_waiting_list              0
agent                             0
deposit_type                      0
booking_changes                   0
assigned_room_type                0
reserved_room_type                0
previous_bookings_not_canceled    0
previous_cancellations            0
distribution_channel              0
is_canceled                       0
market_segment                    0
country                           0
meal                              0
babies                            0
children                          0
adults                            0
stays_in_week_nights              0
stays_in_weekend_nights           0
arrival_date_day_of_month         0
arrival_date_week_number          0
arrival_date_month                0
arrival_date_year                 0
lead_time                         0
reservation_status_date           0
dtype: int64

In [33]:
# Dropping the only Undefined Value of distribution channel as this will cause no effect in data

df_hotel.drop(df_hotel[df_hotel['distribution_channel'] == 'Undefined'].index , inplace = True)

In [34]:
df_hotel.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87391 entries, 0 to 119389
Data columns (total 31 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           87391 non-null  object
 1   is_canceled                     87391 non-null  int64
 2   lead_time                       87391 non-null  int64
 3   arrival_date_year               87391 non-null  int64
 4   arrival_date_month              87391 non-null  object
 5   arrival_date_week_number        87391 non-null  int64
 6   arrival_date_day_of_month       87391 non-null  int64
 7   stays_in_weekend_nights         87391 non-null  int64
 8   stays_in_week_nights            87391 non-null  int64
 9   adults                          87391 non-null  int64
 10  children                        87391 non-null  float64
 11  babies                          87391 non-null  int64
 12  meal                            87391 non-null  object
 13  country                         87391 non-null  object
 14  market_segment                  87391 non-null  object
 15  distribution_channel            87391 non-null  object
 16  is_repeated_guest               87391 non-null  int64
 17  previous_cancellations          87391 non-null  int64
 18  previous_bookings_not_canceled  87391 non-null  int64
 19  reserved_room_type              87391 non-null  object
 20  assigned_room_type              87391 non-null  object
 21  booking_changes                 87391 non-null  int64
 22  deposit_type                    87391 non-null  object
 23  agent                           87391 non-null  float64
 24  days_in_waiting_list            87391 non-null  int64
 25  customer_type                   87391 non-null  object
 26  adr                             87391 non-null  float64
 27  required_car_parking_spaces     87391 non-null  int64
 28  total_of_special_requests       87391 non-null  int64
 29  reservation_status              87391 non-null  object
 30  reservation_status_date         87391 non-null  object
dtypes: float64(3), int64(16), object(12)
memory usage: 21.3+ MB